@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 min-h-screen bg-brand-dark font-sans text-brand-light antialiased;
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
  }
}
